@media screen and (max-width: 1080px) {
    .header__contacts {
        display: none;
    }
    .slider {
        --buttons-padding: 1rem;
    }
    .slider__map {
        display: none;
    }
    .slider__wrapper {
        padding-block: 50px;
    }
    .ask-mail__input {
        width: 17vw;
    }
}

@media screen and (max-width: 767px) {
    :root {
        --header-height: 65px;
    }
    html {
        font-size: 12px;
    }
    .mob-menu {
        display: block;
    }
    .nav__ul {
        display: none;
    }
    .mob-menu__button {
        display: block;
    }
    .slider__button {
        display: none;
    }
    .slider__wrapper {
        padding-block: 50px 0;
    }
    .block {
        padding-block: 1rem;
    }
    .block__tittle {
        font-size: 30px;
    }
    .block__buttons {
        flex-direction: column;
    }

    .core-values__cards-block {
        flex-direction: column;
    }

    .core-values__cards-block hr {
        transform: rotate(0deg);
        margin-block: 2rem;
    }
    
    .ask-mail__form {
        flex-direction: column;
    }

    .ask-mail__form > div {
        width: 100%;
    }

    .ask-mail__input {
        width: 100%;
    }
    .footer__form {
        margin: 0 auto;
        padding: 40px 15px;
        width: 100%;
    }

}
@media screen and (max-width: 360px) {
    :root {
        --container-padding-inline: 10px;
    }
}

