.about__hero {
    background-image: url('../img/ABOUT-background.png');
}

.stat-info__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 100px 0;
    gap: 20px;
    flex-wrap: wrap;
}

.stat-info__card {
    text-align: center;
    flex: 1;
    min-width: 200px;
}

.stat-info__content span {
    display: block;
    font-weight: 900;
    font-size: 2.85rem;
    margin-block: 20px;
}

.ceo__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-block: 60px 100px;
    overflow: hidden;
}

.ceo__text-content {
    list-style-position: outside;
    padding: 70px 100px;
    position: relative;
    top: 80px;
    margin: 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.ceo__text-content > * {
    padding-left: 30px;
}

.ceo__img {
    border-radius: 4px;
    position: relative;
    right: -50px;
    z-index: -1000;
}

.ceo__quotation {
    font-weight: 700;
    font-size: 1.25rem;
}

.ceo__quotation::marker {
    content: url('../img/braces.svg');
    position: relative;
    display: block;
    left: -30px;
}

.ceo__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 60px 60px;
}

.ceo__name .parag,
.ceo__name h3 {
    font-size: 16px;
}

.ceo__footer p,
.ceo__footer h3 {
    margin-block: 10px;
}

.about__core-values {
    background-color: #F4F5F6;
    padding-block: 80px;
}

.world {
    background-color: #F4F5F6;
}

.world__content {
    padding-block: 80px 120px;
}

.world__map {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    max-width: 1230px;
    width: 75vw;
}

.team__content {
    padding-block: 60px;
    margin-block: 60px;
}

.team__parag {
    text-align: center;
}

.team__team-members-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-block: 60px;
}

.team-member__img {
    height: 340px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.team-member__text-content {
    text-align: center;
    position: relative;
    background-color: #fff;
    padding-block: 1rem;
    z-index: 11;
}

.team-member__name {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 150%;
    color: var(--gray-color);
    margin-block: 0 4px;
}

.team-member__position {
    color: var(--light-gray-color);
    line-height: 160%;
    margin-block: 4px 0;
}

.team-member__socials {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    transition: 0.3s;
    transform: translateY(100%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color:#ff5930cb;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.team-member:hover .team-member__socials {
    transform: translateY(0);
}

#Courtney-Alexander {
    background-image: url('../img/image-CEO.jpg');
}
#Calvin-Fox {
    background-image: url('../img/team/team-member-co-founder.png');
}
#Johnny-Lane {
    background-image: url('../img/team/team-member-co-founder-johny.png');
}
#Diane-Mccoy {
    background-image: url('../img/team/image-4.png');
}
#Judith-Warren {
    background-image: url('../img/team/image-3.png');
}
#Floyd-Simmmons {
    background-image: url('../img/team/image-2.png');
}
#Serenity-Edwards {
    background-image: url('../img/team/image-1.png');
}
#Shawn-Edwards {
    background-image: url('../img/team/image.png');
}