.news__hero {
    background-image: url('../img/news-background.png');
}

.categories__content {
    margin-block: 120px 60px;
}

.categories__ul {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.categories__li {
    transition: 0.3s;
    color: var(--light-gray-color);
    border: 1px solid transparent;
    border-radius: 4px;
    flex: 1;
    line-height: 150%;
    text-align: center;
    padding-block: 10px;
    cursor: pointer;
}

.categories__li:not(.categories__li_active):hover {
    color: var(--black-color);
}

.categories__li_active {
    color: var(--accent-color);
    border-color: var(--accent-color);
}