.slider {
    --transition-duration: 0.4s;
    --buttons-padding: 3rem;
    background-image: url('../img/slider/bg-image-HERO.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 0;
    position: relative;
    box-shadow: inset 0 0 0px 100vw rgba(0, 0, 0, 0.713);
    transition-property: box-shadow, background-image;
    transition-duration: var(--transition-duration), 0.1s;
}

.slider_on-transition {
    box-shadow: inset 0 0 0px 100vw rgb(0, 0, 0);
}

.slider[show="1"] {
    background-image: url('../img/slider/bg-image-HERO.jpg');
}
.slider[show="2"] {
    background-image: url('../img/slider/image-second-back-HERO.png');
}
.slider[show="3"] {
    background-image: url('../img/slider/construction.jpeg');
}
.slider[show="4"] {
    background-image: url('../img/slider/image-hero-forth.jpg');
}

.slider__button {
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    top: 50%;
    border-radius: 50%;
    transition: 0.3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff86;
}
.slider__button#slider-button-to-left {
    left: var(--buttons-padding);
    background-image: url('../img/icons/prev-btn-slider-ToLeft.png');
}
.slider__button#slider-button-to-right {
    right: var(--buttons-padding);
    background-image: url('../img/icons/prev-btn-slider-ToRight.png');
}
.slider__button:hover {
    background-color: #ffffff;
}
.slider__button_disabled {
    background-color: #ffffff00;
}
.slider__map {
    position: absolute;
    bottom: 90px;
    left: 15%;
    z-index: 1;
}
.slider__maping-button {
    color: #ffffff53;
    font-size: 28px;
    font-weight: 500;
    display: inline-block;
    width: 150px;
    line-height: 150%;
    border-bottom: 2px solid #ffffff53;
    margin-right: 4px;
    transition: 0.3s;
}
.slider__maping-button_active {
    color: #fff;
    border-bottom: 2px solid #fff;
}
.slider__wrapper {
    position: relative;
    padding-block: 90px 150px;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(var(--blocksQtt), 100%);
    overflow-x: scroll;
    width: 80%;
    height: calc(100vh - var(--header-height));
    max-width: 1400px;
    max-height: 1300px;
    margin: 0 auto;
    justify-content: space-between;
    scroll-behavior: smooth;
    overflow: hidden;
}
.slider__wrapper::-webkit-scrollbar {
    width: 0;
}
.slider__wrapper > * {
    flex-grow: 1;
}
.block {
    color: #fff;
    max-height: 100%;
    overflow: scroll;
}
.block::-webkit-scrollbar {
    height: 0;
}
.block__content {
    width: min-content;
}
.block__tittle {
    font-size: 4.5rem;
    text-transform: uppercase;
}
.block__parag {
    font-size: 1.25rem;
    line-height: 150%;
    font-weight: 300;
}

.block__buttons {
    display: flex;
    gap: 20px;
    margin-top: 5rem;
}

