@import './fonts.scss';
* {
    box-sizing: border-box;
}
:root {
    --accent-color: #FF5A30;
    --accent-color-darker: #ab2c0c;
    --gray-color: #424551;
    --black-color: #1E212C;
    --container-padding-inline: 30px;
    --header-height: 92px;
}
html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: calc(90px + var(--header-height));
    overflow-x: hidden;
}
.body {
    margin: 0;
    padding: 0;
}
.scroll-lock {
    overflow: clip;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding-inline: var(--container-padding-inline);
}
.accent-colored {
    font-style: normal;
    color: var(--accent-color);
}
.button {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 325%;
    letter-spacing: 0.5px;
    border-radius: 4px;
    padding: 0 2.5rem;
    border: none;
    transition: 0.3s;
    width: max-content;
}
.filled-button {
    background-color: var(--accent-color);
}
.transparent-button {
    background-color: transparent;
    border: 1px solid #FFF;
}
.filled-button:hover {
    background-color: var(--accent-color-darker);
}
.transparent-button:hover {
    background-color: white;
    color: #000;
}
.tittle {
    font-size: 2.8rem;
    line-height: 130%;
    font-weight: 700;
}
.parag {
    color: #787A80;
    font-size: 18px;
    line-height: 150%;
}
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #FFF;
    box-shadow: 0 0 20px 0px black;
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-color);
    height: var(--header-height);
    gap: 15px;
}
.nav__ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 700;
}
.nav__li {
    min-width: max-content;
    transition: 0.25s;
}
.nav__li:hover {
    color: var(--accent-color);
}
.header__contacts {
    display: flex;
    gap: 36px;
}
.header__contacts > * {
    display: flex;
    align-items: center;
    font-style: normal;
    gap: 12px;
    min-width: max-content;
    p {
        margin: 0 0 5px 0;
        font-size: 12px;
        font-weight: 500;
        transition: 0.25s;
    }
    &:hover {
        color: var(--accent-color)
    }
}

.mob-menu__button {
    display: none;
    height: calc(var(--header-height) * 0.44);
    aspect-ratio: 2/1.5;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.mob-menu__button::before,
.mob-menu__button::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: #000;
    transition: 0.3s;
}

.mob-menu__button::after {
    bottom: 0px;
}

.mob-menu__button_active {
    transform: rotate(180deg);
}

.mob-menu__button_active::before {
    transform: rotate(45deg);
    top: 40%;
}
.mob-menu__button_active::after {
    transform: rotate(-45deg);
    bottom: 40%;
}

.mob-menu {
    display: none;
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: white;
    overflow-y: auto;
    transition: 0.3s;
    transform: translateX(100vw);
}
.mob-menu_active {
    transform: translateX(0);
}
.mob-menu__ul {
    text-align: end;
    font-weight: 800;
    padding: 2rem;
    font-size: 48px;
}
.mob-menu__li {
    margin-bottom: 3rem;
    letter-spacing: 5px;
    text-align: end;
}

@import './slider.scss';

.promo-video__content {
    text-align: center;
    margin: 100px 0;
}
.promo-video__video-sec {
    height: 500px;
    position: relative;
    background-image: url('@img/slider/image-second-back-HERO.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000a2;
    background-blend-mode: overlay;
    border-radius: 4px;
    margin: 60px 0;
    cursor: pointer;
}
.promo-video__play-button {
    width: 80px;
    aspect-ratio: 1;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}
.promo-video__mute-button {
    position: absolute;
    left: 32px;
    bottom: 32px;
}

.core-values__content {
    text-align: center;
    margin: 60px 0;
}

.core-values__cards-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0;
}
.core-values__cards-block hr {
    transform: rotate(90deg);
    width: 250px;
    height: 1px;
    background: linear-gradient(270deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);    border: none;
    border-radius: 2px;
}

.core-values__card {
    max-width: 250px;
}

.core-values__card-tittle {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 150%;
}

.core-values__card-parag {
    font-size: 16px;
}

.ask-mail {
    position: relative;
    top: 92px;    
}

.ask-mail * > * {
    // ----
    text-emphasis: none;
}

.ask-mail__content {
    text-align: center;
    padding: 48px 60px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.ask-mail__tittle {
    font-size: 1.75rem;
}

.ask-mail__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 32px 0;
}

.ask-mail__form > div {
    text-align: start;
}


.input {
    margin-block: 8px 20px;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    border: 1px solid #D7DADD;
    background-color: #F4F5F6;
}

.label {
    font-size: 0.85rem;
    line-height: 150%;
    color: var(--gray-color);
}

.ask-mail__input {
    width: 260px;
    min-width: 100px;
}

.ask-mail__label {
    display: block;
}

.ask-mail__button {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    position: relative;
    top: 5px;
}

.footer__up-side {
    padding-block: 80px;
    background-image: url('../img/image-IMG-FOOTER-BG.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer__form {
    display: block;
    padding: 48px 40px;
    color: var(--black-color);
    width: max-content;
    margin-inline: auto 0;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 0 20px 0px #00000070;
}
.footer__input {
    display: block;
}
.footer__tittle {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 150%;
    margin-top: 0;
}
.footer__button {
    display: block;
    margin-top: 24px;
    margin-inline: auto;
}

.footer__down-side {
    background-color: var(--black-color);
    color: #FFF;
    padding-block: 80px;
}

@import './media/main-media.scss';