@import './fonts.scss';
* {
    box-sizing: border-box;
}
:root {
    --accent-color: #FF5A30;
    --accent-color-darker: #FC3300;
    --gray-color: #424551;
    --light-gray-color: #787A80;
    --black-color: #1E212C;
    --container-padding-inline: 30px;
    --header-height: 92px;
}
html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: calc(90px + var(--header-height));
    overflow-x: hidden;
}
.body {
    margin: 0;
    padding: 0;
}
.scroll-lock {
    overflow: clip;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding-inline: var(--container-padding-inline);
}
.accent-colored {
    font-style: normal;
    color: var(--accent-color);
}
.button {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 325%;
    letter-spacing: 0.5px;
    border-radius: 4px;
    padding: 0 2.5rem;
    border: none;
    transition: 0.3s;
    width: max-content;
}
.filled-button {
    background-color: var(--accent-color);
}
.transparent-button {
    background-color: transparent;
    border: 1px solid #FFF;
}
.filled-button:hover {
    background-color: var(--accent-color-darker);
}
.transparent-button:hover {
    background-color: white;
    color: #000;
}
.tittle {
    font-size: 2.8rem;
    line-height: 130%;
    font-weight: 700;
    text-align: center;
}
.parag {
    color: var(--light-gray-color);
    font-size: 18px;
    line-height: 150%;
}
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #FFF;
    box-shadow: 0 0 20px 0px black;
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-color);
    height: var(--header-height);
    gap: 15px;
}
.nav__ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 700;
}
.nav__li {
    min-width: max-content;
    transition: 0.25s;
}
.nav__li:hover {
    color: var(--accent-color);
}
.header__contacts {
    display: flex;
    gap: 36px;
}
.header__contacts > * {
    display: flex;
    align-items: center;
    font-style: normal;
    gap: 12px;
    min-width: max-content;
    p {
        margin: 0 0 5px 0;
        font-size: 12px;
        font-weight: 500;
        transition: 0.25s;
    }
    &:hover {
        color: var(--accent-color)
    }
}

.mob-menu__button {
    display: none;
    height: calc(var(--header-height) * 0.6);
    aspect-ratio: 1;
    background-image: url('@img/icons/burger-menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.mob-menu__button_active {
    transform: rotate(180deg);
    background-image: url('@img/icons/Cross.svg');
}

.mob-menu {
    display: none;
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: white;
    overflow-y: auto;
    transition: 0.3s;
    transform: translateX(100vw);
}
.mob-menu_active {
    transform: translateX(0);
}
.mob-menu__ul {
    text-align: end;
    font-weight: 800;
    padding: 2rem;
    font-size: 40px;
}
.mob-menu__li {
    margin-bottom: 3rem;
    letter-spacing: 5px;
    text-align: end;
}

.sec-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-block: 75px;
}

.sec-footer__tittle {
    font-size: 1.7rem;
    display: inline;
    min-width: max-content;
}

@import './slider.scss';

.promo-video__content {
    text-align: center;
    margin: 100px 0;
}
.promo-video__video-sec {
    height: 500px;
    position: relative;
    background-image: url('@img/slider/image-second-back-HERO.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000a2;
    background-blend-mode: overlay;
    border-radius: 4px;
    margin: 60px 0;
    cursor: pointer;
}
.promo-video__play-button {
    width: 80px;
    aspect-ratio: 1;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}
.promo-video__mute-button {
    position: absolute;
    left: 32px;
    bottom: 32px;
}

.core-values__content {
    text-align: center;
    margin: 60px 0;
}

.core-values__cards-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0;
}
.core-values__cards-block hr {
    transform: rotate(90deg);
    width: 250px;
    height: 1px;
    background: linear-gradient(270deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);    border: none;
    border-radius: 2px;
}

.core-values__card {
    max-width: 250px;
}

.core-values__card-tittle {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 150%;
}

.core-values__card-parag {
    font-size: 16px;
}

.ask-mail {
    position: relative;
    top: 92px;    
}

.ask-mail + section {
    padding-top: 92px;
}

.ask-mail__content {
    padding: 48px 60px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.ask-mail__tittle {
    font-size: 1.75rem;
}

.ask-mail__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 32px 0;
}

.ask-mail__form > div {
    text-align: start;
}


.input {
    margin-block: 8px 20px;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    border: 1px solid #D7DADD;
    background-color: #F4F5F6;
}

.label {
    font-size: 0.85rem;
    line-height: 150%;
    color: var(--gray-color);
}

.ask-mail__input {
    width: 240px;
    min-width: 100px;
}

.ask-mail__label {
    display: block;
}

.ask-mail__button {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    position: relative;
    top: 5px;
}

.services {
    background-color: #F4F5F6;
    background-image: url('@img/bg-image-services-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.services__content {
    padding-block: 100px 80px;
    text-align: center;
}

.services__cards-block {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-block: 60px;
}

.services__card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 10px;
    min-width: 190px;
    border-radius: 4px;
    background-color: #FFF;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    transition: 0.3s;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.services__card:hover {
    background-color: #000000aa;
    color: white;
}

#services__card-1:hover {
    background-image: url('@img/image-service-card-back.jpg');
}
#services__card-2:hover {
    background-image: url('@img/image-IMG-FOOTER-BG.jpg');
}
#services__card-3:hover {
    background-image: url('@img/slider/image-hero-forth.jpg');
}
#services__card-4:hover {
    background-image: url('@img/slider/bg-image-HERO.jpg');
}

.services__card-tittle {
    font-size: 1rem;
}

.portfolio {
    margin-top: 120px;
}

.portfolio__tittle {
    text-align: start;
}

.portfolio__cards-block {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 440px;
    margin: 75px 0;
}

.portfolio__card {
    position: relative;
    flex: 1;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.10), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

#portfolio__card-1 {
    background-image: url('@img/port-card-back-1.jpg');
}
#portfolio__card-2 {
    background-image: url('@img/port-card-back-2.png');
}
#portfolio__card-3 {
    background-image: url('@img/port-card-back-3.png');
}

.portfolio__card-text-content {
    background-color: #FFF;
    position: absolute;
    width: 100%;
    bottom: -72px;
    padding-block: 20px;
    transition: 0.3s;
    box-shadow: 0 0 15px 0px #0000007d;
}

.portfolio__card:hover .portfolio__card-text-content {
    bottom: 0;
}
.portfolio__card-text-content_active {
    bottom: 0;
}

.portfolio__card-tittle {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 150%;
    margin-block: 0;
}
.portfolio__card-parag {
    margin-block: 0 24px;
}

.portfolio__button {
    color: var(--accent-color);
    border-color: var(--accent-color);
    padding-block: 1rem;
    height: 52px;
}

.portfolio__button:hover {
    color: #FFF;
    background-color: var(--accent-color);
}

.clients {
    background-color: #F4F5F6;
}


.clients__content {
    text-align: center;
    padding-block: 80px 0;
}

.clients__logos {
    margin-block: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.clients__review {
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
    gap: 100px;
    top: 60px;
}

.review__text-content {
    text-align: start;
}

.review__tittle {
    text-align: start;
    margin-block: 0 60px;
    font-size: 2.5rem;
}

.review__author-name {
    font-weight: 700;
    color: var(--black-color);
    margin-bottom: 0;
}
.review__author-position {
    margin-top: 10px;
    color: var(--light-gray-color);
}

.clients__img {
    box-shadow: 0 0 20px 16px #00000014;
    border-radius: 5px;
}

.clients + * {
    padding-top: 60px;
}

.facts {
    background-image: url('@img/facts-bg-image.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: -300px;
}


.facts__content {
    padding-block: 120px;
}

.facts__pie-charts-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    margin-block: 60px;
}


.facts__pie-chart {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
}

#facts__pie-chart-1 {
    background-image: conic-gradient(#f89728 0% 92%, #f8972830 0% 100%);
}
#facts__pie-chart-2 {
    background-image: conic-gradient(#F52F6E 0% 75%, #F52F6E30 0% 100%);
}
#facts__pie-chart-3 {
    background-image: conic-gradient(#5A87FC 0% 85%, #5A87FC30 0% 100%);
}
#facts__pie-chart-4 {
    background-image: conic-gradient(#03CEA4 0% 100%, #03CEA430 0% 100%);
}

.facts__pie-chart span {
    z-index: 1;
}

.facts__pie-chart::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1;
    inset: 0;
}

.facts__pie-chart::after {
    content: '';
    // text-align: center;
    position: absolute;
    border-radius: 50%;
    background-color: #FFF;
    width: 138px;
    aspect-ratio: 1;
    inset: 6px;
}

.facts__pie-chart-label {
    display: block;
    font-size: 14px;
    line-height: 150%;
    margin-top: 20px;
    color: var(--black-color);
    text-align: center;
}

@import './newCard';

.news__cards-block {
    margin-block: 60px;
    display: grid;
    // grid-template-columns: 1fr 1fr;
    gap: 30px;
}

#new-card_001 {
    height: calc(200% + 30px);
    grid-row: 0 / 2;
    grid-column: 1;
}
#new-card_002 {
    grid-row: 1;
    grid-column: 2;
}
#new-card_003 {
    grid-row: 2;
    grid-column: 2;
}

.footer__up-side {
    padding-block: 80px;
    background-image: url('../img/image-IMG-FOOTER-BG.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer__form {
    display: block;
    padding: 48px 40px;
    color: var(--black-color);
    width: max-content;
    margin-inline: auto 0;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 0 20px 0px #00000070;
}
.footer__input {
    display: block;
}
.footer__tittle {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 150%;
    margin-top: 0;
}
.footer__button {
    display: block;
    margin-top: 24px;
    margin-inline: auto;
}

.footer__down-side {
    background-color: var(--black-color);
    color: #FFF;
    padding-block: 80px;
}


.footer__bottom {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.fooer__heart-icon {
    position: relative;
    top: 3px;
}

.footer__go-to-top a {
    display: inline-block;
    width: 40px;
    aspect-ratio: 1;
    background-color: var(--accent-color);
    background-image: url('@img/icons/Up-chevron.svg');
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-inline-start: 1rem;
}

@import './media/main-media.scss';