@import './fonts.scss';
* {
    box-sizing: border-box;
}
:root {
    --accent-color: #FF5A30;
    --gray-color: #424551;
    --container-padding-inline: 15px;
    --header-height: 92px;
}
html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding-inline: var(--container-padding-inline);
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-color);
    height: var(--header-height);
    gap: 15px;
}
.nav__ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 700;
}
.nav__li {
    min-width: max-content;
    transition: 0.25s;
}
.nav__li:hover {
    color: var(--accent-color);
}
.header__contacts {
    display: flex;
    gap: 36px;
}
.header__contacts > * {
    display: flex;
    align-items: center;
    font-style: normal;
    gap: 12px;
    min-width: max-content;
    p {
        margin: 0 0 5px 0;
        font-size: 12px;
        font-weight: 500;
        transition: 0.25s;
    }
    &:hover {
        color: var(--accent-color)
    }
}

@import './main.scss';

@import './media/main-media.scss';