.work__hero  {
    background-image: url('../img/WORK-background.png');
}
.work__client-logos {
    padding-block: 180px 120px;
}

.katalog__filters {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    top: -3.5rem;
}

.katalog__collaps-button {
    display: none;
}

.katalog__button {
    flex: 1;
    padding: 2rem;
    border-radius: 4px;
    border: 3px solid transparent;
    background-color: #fff;
    transition: 0.3s;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.katalog__button:hover {
    border: 3px solid var(--accent-color);
}
.katalog__button_active {
    color: #fff;
    background-color: var(--accent-color);
}

.katalog__button img {
    display: block;
    margin: 0 auto;
}

.project-cards-block__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-block: 120px;
}

.project-cards-block__card {
    height: 440px;
}

.project-cards-block__card_hide {
    display: none;
}

#project-cards-block__card-1 {
    background-image: url('../img/port-card-back-2.png');
}
#project-cards-block__card-2 {
    background-image: url('../img/port-card-back-7.png');
}
#project-cards-block__card-3 {
    background-image: url('../img/port-card-back-5.png');
}
#project-cards-block__card-4 {
    background-image: url('../img/port-card-back-4.png');
}
#project-cards-block__card-5 {
    background-image: url('../img/port-card-back-6.png');
}
#project-cards-block__card-6 {
    background-image: url('../img/port-card-back-3.png');
}
#project-cards-block__card-7 {
    background-image: url('../img/port-card-back-1.jpg');
}
#project-cards-block__card-8 {
    background-image: url('../img/port-card-back-9.png');
}
#project-cards-block__card-9 {
    background-image: url('../img/port-card-back-8.png');
}